.root {
  background-color: #242424;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 560px) {
  .root {
    flex-direction: column;
    padding-bottom: 2rem;
    & h1 {
      margin-bottom: 1rem;
    }
  }
}
