.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  border: solid 1px var(--secondary-color);
  padding: var(--sm-padding);
  opacity: 1;
  & input {
    width: auto;
  }
  &[data-completed='true'] {
    border: none;
    text-decoration: line-through;
    opacity: 0.5;
    font-style: italic;
  }
}
