.root {
  display: grid;
  grid-template-columns: 2fr auto;
  row-gap: 1rem;
  column-gap: var(--column-gap);
  margin-top: var(--lg-margin);
  margin-bottom: var(--lg-margin);
}

.error {
  color: red;
  margin-top: 0;
}

@media (max-width: 560px) {
  .root {
    grid-template-columns: 1fr;
  }
}
