.root {
  background-color: var(--secondary-background-color);
  padding: var(--md-spacing);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--column-gap);
}

.fallback-layout {
  height: 20rem;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 990px) {
  .root {
    grid-template-columns: auto;
  }
}
