.root {
  display: grid;
  grid-template-columns: 2fr auto;
  row-gap: 1rem;
  column-gap: var(--column-gap);
  margin-top: var(--lg-spacing);
  margin-bottom: var(--lg-spacing);
}

.error {
  color: var(--error-color);
  margin-top: 0;
}

@media (max-width: 560px) {
  .root {
    grid-template-columns: 1fr;
  }
}
