* {
  box-sizing: border-box;
}

:root {
  /* Custom variables */
  --primary-background-color: #333;
  --secondary-background-color: #242424;
  --secondary-color: #33ebe2;
  --neutral-color: rgba(255, 255, 255, 0.87);
  --column-gap: 2rem;
  --border-radius: 0.5rem;
  --sm-padding: 0.5rem;
  --md-padding: 1rem;
  --lg-margin: 2rem;
  --input-padding: 0.6em 1.2em;
  --input-border: 1px solid transparent;
  --input-font-size: 1em;
  --input-font-weight: 500;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--neutral-color);
  background-color: var(--primary-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius);
  border: var(--input-border);
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--secondary-background-color);
}

input {
  border-radius: var(--border-radius);
  border: var(--input-border);
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  font-family: inherit;
  background-color: var(--neutral-color);
  cursor: pointer;
  width: 100%;
}

input[type='checkbox'] {
  width: 25px;
  height: 25px;
}
