:root {
  /* Custom variables */
  --secondary-background-color: #242424;
  --secondary-color: #33ebe2;
  --column-gap: 2rem;
  --border-radius: 0.5rem;
  --sm-padding: 0.5rem;
  --lg-margin: 2rem;
  --input-padding: 0.6em 1.2em;
  --input-border: 1px solid transparent;
  --input-font-size: 1em;
  --input-font-weight: 500;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius);
  border: var(--input-border);
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: var(--border-radius);
  border: var(--input-border);
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}
